@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100&display=swap');

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold !important;
}

/*utility classes*/

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-container {
	height: 100vh;
}

.background {
	background:
		linear-gradient(
		rgba(0, 0, 0, .75),
		rgba(10, 10, 10, .75)),
		url(/background);
	background-size: cover;
}

.page-container {
	min-height: 100vh;
	padding-top: 25%;
	padding-bottom: 17.5%;
}

h1 {
	color: #fff;
	font-size: 30px !important;
	font-weight: bold !important;
	text-shadow: 2px 2px black;
}

p, h4, h5, i, .form-label {
	color: #fff;
}

hr{
	margin: 0px auto 10px !important;
	height: 1px !important;
	width: 250px;
	border: none;
	background-color: #00a7de;
}

.sub-header{
	font-size: 12.5px !important;
}

.header-container {
	width: 100%;
	top: 10px;
}

.sub-header-container {
	width: 100%;
	top: 30px;
}

.header-glitch-1 {
	color: #fff;
	font-size: 25px;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px black;
	animation: glitch1 10s infinite;
	position: absolute;
}

.header-glitch-2 {
	color: #67f3da;
	font-size: 25px;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px black;
	animation: glitch2 10s infinite;
	position: absolute;
}

.header-glitch-3 {
	color: #f16f6f;
	font-size: 25px;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px black;
	animation: glitch3 10s infinite;
	position: absolute;
}

.header-hr{
	margin: 10px auto 10px !important;
	height: 2px !important;
	border: none;
	background-color: #00a7de;
}

@keyframes glitch1 {
	0% {
	transform: none;
	opacity: 1;
	}
	7% {
	transform: skew(-0.5deg, -0.9deg);
	opacity: 0.75;
	}
	10% {
	transform: none;
	opacity: 1;
	}
	27% {
	transform: none;
	opacity: 1;
	}
	30% {
	transform: skew(0.8deg, -0.1deg);
	opacity: 0.75;
	}
	35% {
	transform: none;
	opacity: 1;
	}
	52% {
	transform: none;
	opacity: 1;
	}
	55% {
	transform: skew(-1deg, 0.2deg);
	opacity: 0.75;
	}
	50% {
	transform: none;
	opacity: 1;
	}
	72% {
	transform: none;
	opacity: 1;
	}
	75% {
	transform: skew(0.4deg, 1deg);
	opacity: 0.75;
	}
	80% {
	transform: none;
	opacity: 1;
	}
	100% {
	transform: none;
	opacity: 1;
	}
}

@keyframes glitch2 {
	0% {
	transform: none;
	opacity: 0.25;
	}
	7% {
	transform: translate(-2px, -3px);
	opacity: 0.5;
	}
	10% {
	transform: none;
	opacity: 0.25;
	}
	27% {
	transform: none;
	opacity: 0.25;
	}
	30% {
	transform: translate(-5px, -2px);
	opacity: 0.5;
	}
	35% {
	transform: none;
	opacity: 0.25;
	}
	52% {
	transform: none;
	opacity: 0.25;
	}
	55% {
	transform: translate(-5px, -1px);
	opacity: 0.5;
	}
	50% {
	transform: none;
	opacity: 0.25;
	}
	72% {
	transform: none;
	opacity: 0.25;
	}
	75% {
	transform: translate(-2px, -6px);
	opacity: 0.5;
	}
	80% {
	transform: none;
	opacity: 0.25;
	}
	100% {
	transform: none;
	opacity: 0.25;
	}
}

@keyframes glitch3 {
	0% {
	transform: none;
	opacity: 0.25;
	}
	7% {
	transform: translate(2px, 3px);
	opacity: 0.5;
	}
	10% {
	transform: none;
	opacity: 0.25;
	}
	27% {
	transform: none;
	opacity: 0.25;
	}
	30% {
	transform: translate(5px, 2px);
	opacity: 0.5;
	}
	35% {
	transform: none;
	opacity: 0.25;
	}
	52% {
	transform: none;
	opacity: 0.25;
	}
	55% {
	transform: translate(5px, 1px);
	opacity: 0.5;
	}
	50% {
	transform: none;
	opacity: 0.25;
	}
	72% {
	transform: none;
	opacity: 0.25;
	}
	75% {
	transform: translate(2px, 6px);
	opacity: 0.5;
	}
	80% {
	transform: none;
	opacity: 0.25;
	}
	100% {
	transform: none;
	opacity: 0.25;
	}
}

.card-img-thumbnail {
	height: 100px;
	width: 100px;
	border-radius: 5px;
}

.card-img-thumbnail:hover {
	opacity: .65;
	transition: .5s;
}

/*navbar*/

.navbar {
	background-color: rgba(61, 61, 61, 1);
}

.nav-link, .navbar-brand {
	font-weight: bold;
	font-family: 'Tomorrow', sans-serif;
}

.nav-link:hover, .navbar-brand:hover {
	color: #f59700 !important;
}

/*home page*/

.profile-picture {
	height: 150px;
	width: 150px;
	border-radius: 75px;
}

.title-glitch-1 {
	color: #fff;
	font-size: 25px;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px black;
	animation: glitch1 10s infinite;
	position: absolute;
	top: 52.5%;
}

.title-glitch-2 {
	color: #67f3da;
	font-size: 25px;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px black;
	animation: glitch2 10s infinite;
	position: absolute;
	top: 52.5%;
}

.title-glitch-3 {
	color: #f16f6f;
	font-size: 25px;
	font-family: 'Tomorrow', sans-serif;
	font-weight: bold;
	text-shadow: 2px 2px black;
	animation: glitch3 10s infinite;
	position: absolute;
	top: 52.5%;
}

/*about page*/

.about-hr {
	width: 150px;
}

.skills-section {
	flex-direction: column;
}

.skills-container {
	flex-direction: column;
}

.skills-container-lg {
	flex-direction: column;
}

.skills-container-md {
	flex-direction: column;
}

.skills-card {
	margin: 5px;
	height: 150px;
	width: 125px;
	background-color: #2e2e2e;
	border-radius: 5px;
	font-size: 15px;
}

.skills-info {
	width: 100%;
	z-index: 10 !important;

}

.skills-title {
	margin: 5px 0 0 7.5px;
}

.skills-indicator-container {
	margin: 5px 2.5px 0 0;
}

.skills-frontend {
	margin: 0 2.5px 0 0;
	padding: 8px;
	height: 12.5px;
	width: 12.5px;
	background-color: rgba( 0, 0, 0, .5);
	border-radius: 100px;
	font-size: 65%;
}

.skills-backend {
	margin: 0px 0px 0 0;
	padding: 8px;
	height: 12.5px;
	width: 12.5px;
	background-color: rgba( 0, 0, 0, .5);
	border-radius: 100px;
	font-size: 65%;
}

.skills-img{
	margin: 30px 0 5px 0;
	height: 75%;
	width: 90%;
	border-radius: 5px;
}

/*projects page*/

.project-hr {
	width: 125px;
}

.projects-container {
	flex-direction: column;
}

.projects-card {
	margin: 10px 0 10px 0;
	padding: 15px 10px 10px 10px;
	width: 75vw;
	background-color: rgba(61, 61, 61, 1);
	border-radius: 5px;
}

.projects-thumbnail {
	height: 125px;
	width: 200px;
	border-radius: 5px;
}

.projects-thumbnail:hover {
	opacity: .65;
	transition: .5s;
}

.projects-text{
	margin: 40px 0 0 0;
}

/*education page*/

.education-hr {
	width: 140px;
}

.education-card {
	margin: 10px 0 10px 0;
	padding: 15px;
	background-color: rgba(61, 61, 61, 1);
	border-radius: 5px;
}

/*work page*/

.works-container {
	padding: 10px 10vw 0 10vw;
}

.works-card {
	margin: 10px 0 10px 0;
	padding: 15px;
	background-color: rgba(61, 61, 61, 1);
	border-radius: 5px;
}

.work-hr {
	width: 215px;
}

/*contact page*/

.contact-hr {
	width: 125px;
}

.contact-container {
	width: 80vw;
}

.contact-btn {
	height: 40px !important;
	width: 100px !important;
	background-color: #00a7de !important;
	border: 0 !important;
}

.contact-btn:hover {
	height: 40px !important;
	width: 100px !important;
	background-color: #00a7de !important;
	opacity: .7;
	transition: .5s;
	border: 0 !important;
}

/*footer*/

.footer {
	background-color: rgba(61, 61, 61, 1);
	height: 50px;
}

.footer-link {
	font-size: 25px;
}

.footer-link:hover {
	color: #2787db;
	transition-duration: 1s;
}

.footer-red:hover {
	color: #db6927 !important;
}

.footer-yellow:hover {
	color: #ffff91 !important;
}

/*medium screen responsive styles*/
@media only screen and (min-width: 640px) and (max-width: 1365px){
	.page-container {
		padding-top: 12%;
		padding-bottom: 9%;
	}

	.skills-container-lg {
		flex-direction: column;
	}

	.skills-container-md {
		flex-direction: row;
	}
}

/*large screen responsive styles*/
@media only screen and (min-width: 1366px){
	.page-container {
		padding-top: 5%;
		padding-bottom: 5%;
	}

	.skills-container-lg {
		display: flex;
		flex-direction: row;
	}

	.skills-container-md {
		flex-direction: row;
	}

	.projects-container {
		flex-direction: row;
	}

	.projects-card {
		width: 400px;
		height: 450px;
		margin: 10px 20px 10px 20px;
		padding: 15px 20px 10px 20px;
	}

	.projects-thumbnail {
		margin: 10px 0 5px 0;
		height: 200px;
		width: 300px;
	}

	.sub-header-container {
		margin-bottom: 10px;
	}

	.education-container {
		display: flex;
	}

	.education-card {
		width: 300px;
		margin: 10px 10px 10px 10px;
	}

	.works-container {
		display: flex;
		padding: 10px 0 0 0;
	}

	.works-card {
		margin: 10px 10px 10px 10px;
		padding: 30px;
		width: 430px;
		background-color: rgba(61, 61, 61, 1);
		border-radius: 5px;
	}

	.contact-container {
		width: 700px;
	}
}